*.out
*.pickle

data/datasets/
results/

notebooks/

wandb/

.ipynb_checkpoints/

models/.ipynb_checkpoints/
algorithms/.ipynb_checkpoints/
utils/.ipynb_checkpoints/
data/.ipynb_checkpoints/
utils/.ipynb_checkpoints/
data/.ipynb_checkpoints/
scripts/.ipynb_checkpoints/


models/__pycache__/
algorithms/__pycache__/
utils/__pycache__/
data/__pycache__/
scripts/__pycache__/
